Yolo image 갤러리 <br>

<!--<head>-->
<!--    <metacharset="utf-8">-->
<!--    <metaname="viewport" content="width=device-width, initial-scale=1.0">-->
<!--</head>-->

<table>
    {% for s in listData %}
    <tr>
       <td> <a href=/view?id={{s.id}}> <img src="/static/{{s.img}}" width=300> </a> </td>
       <td> <font color="coral"> {{s.title}} </font> </td>
        <td> <a href=/deleteimage?id={{s.id}}> 삭제 </a> </td>
    </tr>
    {% endfor %}
</table>

<form action= "/fileUpload" method= "POST"
      enctype= "multipart/form-data">
    <input type= "file" name= "file1" /> <br>
    제목 : <input type=text name=title>
    <select name=algorith>
        <option value=0>YOLO</option>
        <option value=1>face detection</option>
    </select>
    <input type= "submit" value="전송"/>
</form>